.checked{
    display: flex;
    flex: 1;

    .checkedContainer{
        flex: 5;

        .list{
            box-shadow: 4px 6px 10px 4px #2e2d2d3b;
            padding: 20px;
            margin: 20px;

            .listTitle{
                font-weight: 500;
                color: gray;
                margin-bottom: 15px;
            }
        }
    }
}