.single {
  display: flex;

  .singleContainer {
    flex: 6;
  }

  .singlePackage {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
  }

  .title,
  .titleDesc,
  .packagedesc,
  .duration,
  .catchphrase,
  .destinationName,
  .packageType,
  .price,
  .mainPackage {
    margin-bottom: 10px;

    label {
      font-weight: bold;
      color: #333333;
      margin-right: 10px;
    }

    input[type="text"],
    input[type="checkbox"] {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      margin-top: 15px;
      border-radius: 4px;
      outline: none;
      font-size: 16px;
    }

    input[type="checkbox"] {
      width: auto;
    }
  }

  .AddFields {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }

  .photos {
    margin-bottom: 20px;

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;

      li {
        position: relative;
        margin-right: 10px;
        margin-bottom: 10px;

        img {
          height: 200px;
          width: 200px;
          border-radius: 4px;
        }

        button.Delete {
          position: absolute;
          top: 5px;
          right: 5px;
          background-color: rgba(255, 0, 0, 0.584);
          color: rgba(252, 251, 251, 0.664);
          border: none;
          cursor: pointer;
          font-size: 14px;

          &:hover {
            background-color: rgba(255, 0, 0, 0.705);
            color: rgb(234, 255, 0);
            padding: 2px 6px;
          }
        }
      }
    }

    .addImages {
      margin-top: 10px;

      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #333333;
      }

      input[type="file"] {
        margin-top: 10px;
      }

      button.AddFields {
        background-color: #007bff;
        color: #ffffff;
        border: none;
        padding: 8px 12px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
      }
    }
  }

  .editbutton {
    text-align: right;

    button {
      background-color: rgb(178, 244, 156);
      color: rgb(0, 81, 0);
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
      font-size: 16px;

      &:hover{
        background-color: rgba(92, 210, 92, 0.801);
      }
    }
  }

  h2 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
  }

  ul {
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 10px;

      input[type="text"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
        font-size: 16px;
      }

      button.RemoveButton {
        background-color: #f184fb;
        color: black;
        border: none;
        padding: 8px 12px;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 5px;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}
