.header {
  position: relative;
  color: white;
  display: flex;
  justify-content: center;

  &::before {
    content: "";
    background-image: url("./12.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9; 
    z-index: -1;
  }
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;

  &.listMode {
    margin: 20px 0px 0px 0px;
  }

  .headerList {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
    color: black;
    flex-wrap: wrap; 

    .headerListItem {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      color: black;
      font-weight: bold;
      font-size: 17px;

      span{
        font-weight: bold;
        margin-left: 5px;
      }

      &.active {
        border: 1px solid black;
        padding: 10px;
        border-radius: 20px;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.199);
      }
    }
    .mobileMenuIcon {
      display: none; 
      cursor: pointer;
      align-items: center;
      font-size: 24px; 
      color: #fff;
      background-color: #115b97d7;
      padding: 5px;
      border-radius: 5px;
    }

    @media (max-width: 780px) {
      .headerListItem {
        display: none; 
      }
      .mobileMenuIcon {
        display: flex; 
      }
    }
  }

  .headerDesc {
    margin: 20px 0px;
    color: black;
    font-size: 20px;
    font-weight: bold;
  }

  .headerTitle {
    color: black;
  }

  .headerSearchItem .headerBtn {
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    background-color: #265073;
    color: white;
  }

  .headerSearchItem .headerBtn .searchText {
    display: inline-block;
    margin-left: 5px;
    }
  .headerSearch {
    height: 30px;
    background-color: white;
    border: 3px solid #265073;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
    border-radius: 20px;

    .headerIcon {
      color: lightslategray;
    }

    .headerSearchItem {
      display: flex;
      align-items: center;
      gap: 10px;
      .headerSearchInput {
        -webkit-appearance: none; 
        -moz-appearance: none;
        appearance: none;
        background-color: transparent; 
        background-image: linear-gradient(45deg, transparent 50%, lightslategray 50%), linear-gradient(135deg, lightslategray 50%, transparent 50%);
        background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
        background-size: 5px 5px;
        background-repeat: no-repeat;
        padding: 8px 25px 8px 10px; 
        border-radius: 0;
        border: none; 
        color: lightslategray; 
        font-size: 15px; 
      }

      .headerSearchInput {
        border: none;
        outline: none;
        color: lightslategray;
        font-size: 15px;

        option {
          color: lightslategray;
          cursor: pointer;
        }
      }

      .headerSearchText {
        color: lightslategray;
        cursor: pointer;
      }

      .headerSearchItem &.headerBtn {
        background-color: #265073;
        color: white;
      }
    }

    .date {
      position: absolute;
      top: 50px;
      z-index: 2;
    }

    .options {
      z-index: 2;
      position: absolute;
      top: 50px;
      background-color: white;
      color: gray;
      border-radius: 5px;
      box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);

      .optionItem {
        width: 200px;
        display: flex;
        justify-content: space-between;
        margin: 10px;

        .optionCounter {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 12px;
          color: black;

          .optionCounterButton {
            width: 30px;
            height: 30px;
            border: 1px solid #265073;
            color: #265073;
            cursor: pointer;
            background-color: white;

            &:disabled {
              cursor: not-allowed;
            }
          }
        }
      }
    }
  }

  .headItems {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.854);
    font-style: bold;
    font-weight: bold;
    margin-left: auto; 

    .headButton,
    .logoutButton {
      font-size: 14px;
      padding: 8px 12px; 
    }

    .headButton {
      background-color: rgba(0, 0, 0, 0.66);
      font-weight: 500;
      border: none;
      padding: 10px;
      cursor: pointer;
      margin-left: 10px; 
      font-weight: bold;
      color: rgba(255, 255, 255, 0.915);
      border-radius: 10%;

      &:hover{
        background-color: rgba(0, 0, 0, 0.311);
        transform: scale(1.1);
      }
    }

    .date {
      position: absolute;
      top: calc(
        100% + 10px
      );
      left: 50%; 
      transform: translateX(-50%); 
      z-index: 2;
    }

    .logoutButton {
      background-color: rgba(0, 0, 0, 0.66);
      font-weight: 500;
      border: none;
      padding: 10px;
      cursor: pointer;
      margin-left: 10px; 
      font-weight: bold;
      color: rgba(255, 255, 255, 0.915);
      border-radius: 10%;
    }
  }
}

@media only screen and (max-width: 780px) {
  .headerSearchItem .headerSearchText {
    display: none;
  }
  .headerSearchItem .headerBtn .searchText {
    display: none; 
  }
  .date {
    width: 90%; 
    max-width: 300px; 
    left: 5%; 
  }
  .options {
    left: 50%;
    transform: translateX(-50%);
    width: 55%;
    max-width: 300px;
  }
  .mobileMenu {
    display: flex;
    gap: 10px;
    background-color: #115b97d7;
    color: white;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    padding: 10px;
    width: 70%;
    border-radius: 10px;

    .headerListItemm {
      display: flex;
      gap: 10px;
      cursor: pointer;
      margin-bottom: 10px;
      align-items: center;

      .mobileBtnLabel{
        display: flex;
        align-items: center;
      }

      span{
        margin-left: 10px;
        font-weight: bold;
        width: max-content;
      }
    }    
  }
}